In [1]:
import findspark
findspark.init()
import pyspark

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Aggregates').getOrCreate()

In [5]:
df = spark.read.csv('data/sales_info.csv', inferSchema=True, header=True)

In [11]:
df.describe()

DataFrame[summary: string, Company: string, Person: string, Sales: string]

In [12]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [15]:
df.groupBy('Company')

In [21]:
df.groupBy('Company').count().show()

+-------+-----+
|Company|count|
+-------+-----+
|   APPL|    4|
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

In [26]:
df.agg({'Sales': 'max'}).show()

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

In [27]:
group_data = df.groupBy('Company')

In [29]:
group_data.agg({'Sales':'max'}).show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

### Importing Spark Functions

In [31]:
from pyspark.sql.functions import countDistinct, avg, stddev

In [36]:
df.select(avg('Sales').alias('ALIAS NAME')).show()

+-----------------+
|       ALIAS NAME|
+-----------------+
|360.5833333333333|
+-----------------+

In [37]:
df.select(stddev('Sales').alias('Std Dev')).show()

+------------------+
|           Std Dev|
+------------------+
|250.08742410799007|
+------------------+

### Formatting Numbers

In [38]:
from pyspark.sql.functions import format_number

In [39]:
sales_std = df.select(stddev('Sales').alias('Std'))

In [42]:
sales_std.select(format_number('Std', 2)).show()

+---------------------+
|format_number(Std, 2)|
+---------------------+
|               250.09|
+---------------------+

### Ordering / Sorting

In [45]:
df.orderBy('Sales').show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|   APPL|  Chris|350.0|
|     FB|  Sarah|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+

In [46]:
df.orderBy(df['Sales'].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+