In [4]:
import findspark
findspark.init()

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Basics').getOrCreate()

### Reading JSON into DataFrame

In [7]:
df = spark.read.json('data/people.json')

In [11]:
# show data
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [12]:
# view schema
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [26]:
# view columns
df.columns

['age', 'name']

In [27]:
# get numeric statistics with describe
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

### Explicitly Defining Schemas
- sometimes we need to clarify the schema of dataframe
- Spark lets us do this with pyspark.sql.types package

In [28]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

# name, datatype, is nullable
data_schema = [
    StructField('age', IntegerType(), True),
    StructField('name', StringType(), True)
]

final_struct = StructType(fields=data_schema)
df = spark.read.json('./data/people.json', schema=final_struct)
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

### Selecting Data from DataFrame

In [35]:
# indexing the data frame returns a column descriptor, not the data
type(df['age'])

pyspark.sql.column.Column

In [40]:
# select will return a DataFrame
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [44]:
# head returns a list of Rows
type(df.head(2)[0])

pyspark.sql.types.Row

In [46]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

### Creating New Columns

In [52]:
# return new DataFrame by adding/replacing a column
df.withColumn('2x age', df['age']*2).show()

+----+-------+------+
| age|   name|2x age|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [54]:
df.withColumn('age + 5', df['age'] + 5).show()

+----+-------+-------+
| age|   name|age + 5|
+----+-------+-------+
|null|Michael|   null|
|  30|   Andy|     35|
|  19| Justin|     24|
+----+-------+-------+

In [53]:
# rename a column
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

### Using SQL to Interact with DataFrame
- you can leverage your SQL knowledge with Spark.sql

In [56]:
# register DataFrame as SQL Temp View
df.createOrReplaceTempView('people')

In [62]:
results = spark.sql("SELECT name as NAME from people WHERE age = 30")

In [63]:
results.show()

+----+
|NAME|
+----+
|Andy|
+----+

In [ ]:
new_results = spark.sql